// stylesheet for menu
@use 'src/styles/vars';

.menu-wrapper {
    box-sizing: border-box;
    height: vars.$menuHeight;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo {
        width: 70px;
    }

    .menu-burger {
        cursor: pointer;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$primaryColorBurgerMenu;
    padding: vars.$paddingBurgerMenu;

    &__links {
        margin-bottom: .5rem;
        display: flex;

        &:hover {
            color: vars.$whiteText;
        }
    }

    .connect-cta {
        background-color: vars.$primaryColor;
        padding: vars.$buttonCtaPadding;
        border-radius: vars.$buttonCtaRadius;
        color: vars.$whiteText;
        font-weight: vars.$mediumWeight;
        cursor: pointer;

        &:hover {
            background-color: vars.$whiteText;
            color: vars.$primaryColor;
        }
    }
}

.sub-menu {
    padding: .5rem 1.5rem 0;
    margin-bottom: .5rem;
    background-color: vars.$primaryColor;
    width: 100%;
}

.menu {
    display: none;
}

@media screen and (min-width: 830px) {
    .menu-display {
        display: inherit;
    }

    .menu {
        display: flex;
        align-items: center;

        &__links {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: vars.$whiteText;
            }

            &--active {
                margin-right: 1rem;
                color: vars.$whiteText;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__dropdown {
            position: relative;
            margin-right: 1rem;
        }

        .dropdown-link {
            display: flex;
            cursor: pointer;

            &:hover {
                color: vars.$whiteText;
            }
        }

        .sub-menu {
            position: absolute;
            top: 30px;
            left: -50px;
            z-index: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            width: 200px;

            &__links {
                margin-bottom: .5rem;

                &:hover {
                    color: vars.$whiteText;
                }

                &--active {
                    margin-bottom: .5rem;
                    color: vars.$whiteText;
                }
            }
        }

        .connect-cta {
            background-color: vars.$primaryColor;
            padding: vars.$buttonCtaPadding;
            border-radius: vars.$buttonCtaRadius;
            color: vars.$whiteText;
            font-weight: vars.$mediumWeight;
            cursor: pointer;

            &:hover {
                background-color: vars.$whiteText;
                color: vars.$primaryColor;
            }
        }
    }

    .menu-burger {
        display: none;
    }
}
