// stylesheet for menu
@use 'src/styles/vars';

.menu-wrapper {
    box-sizing: border-box;
    height: vars.$menuHeight;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo {
        width: 70px;
    }

    .menu-burger {
        cursor: pointer;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$primaryColorBurgerMenu;
    padding: vars.$paddingBurgerMenu;

    &__links {
        margin-bottom: .5rem;

        &:first-child {
            display: flex;
        }

        &:hover {
            color: vars.$whiteText;
        }
    }

    .connect-cta {
        background-color: vars.$primaryColor;
        padding: vars.$buttonCtaPadding;
        border-radius: vars.$buttonCtaRadius;
        color: vars.$whiteText;
        font-weight: vars.$mediumWeight;

        &:hover {
            background-color: vars.$whiteText;
            color: vars.$primaryColor;
        }
    }
}

@media screen and (min-width: 700px) {
    .menu-burger {
        display: none;
    }
}
