// COLORS

$primaryColor: #2C6561;
$primaryColorBurgerMenu: rgba(44, 99, 96, 0.5);
$primaryLightColor: #93CEA2;
$shadowCardColor: #C1CBC2;
$mainBackgroundColor: #DAECEB;

$blackText: #1D2424;
$whiteText: #FFFBF2;

// FONT

$mainFont: 'Nunito', sans-serif;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;

$mobileTitleFontSize: 2.5rem;
$desktopTitleFontSize: 4rem;

// GUTTERS

$formGutter: 2rem;
$menuHeight: 5rem;
$paddingBurgerMenu: 1rem 0;
$buttonCtaPadding: .7rem 1.5rem;
$buttonCtaRadius: 20px;
