// COLORS

$primaryColor: #2C6561;
$primaryLightColor: #93CEA2;
$shadowCardColor: #C1CBC2;
$mainBackgroundColor: #DAECEB;

$blackText: #1D2424;
$whiteText: #FFFBF2;

// FONT

$mainFont: 'Nunito', sans-serif;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;

// GUTTERS

$formGutter: 2rem;
