@use 'reset';
@use 'vars';

body {
  font-family: vars.$mainFont;
  background-color: vars.$mainBackgroundColor;
  background-image: url('src/assets/images/background_mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  main {
    height: calc(100% - 5rem);
  }

  body {
    font-family: vars.$mainFont;
    background-color: vars.$mainBackgroundColor;
    background-image: url('src/assets/images/background_desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
