@use 'reset';
@use 'vars';

body {
  font-family: vars.$mainFont;
  background-color: vars.$mainBackgroundColor;
  background-image: url('src/assets/images/background_mobile.png');
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  main {
    height: calc(100% - 5rem);
  }

  body {
    font-family: vars.$mainFont;
    background-color: vars.$mainBackgroundColor;
    background-image: url('src/assets/images/background_desktop.png');
    background-size: auto;
    background-repeat: no-repeat;
  }
}
