// Stylesheet for Vente Direct page

@use 'src/styles/vars';

.info-window {
    color: vars.$blackText;

    &__title {
        font-size: .9rem;
        font-weight: vars.$mediumWeight;
    }

    &__address {
        font-size: .7rem;
        margin-bottom: .3rem;
    }

    &__itinerary {
        font-size: .7rem;
        color: blue;
    }
}

.vente-direct-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: vars.$blackText;
    text-align: center;

    .vente-direct-map {
        margin: 1rem 0;
        border-radius: 10px;
        overflow: hidden;
    }

    .vente-direct-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        &__title {
            font-weight: vars.$boldWeight;
            font-size: vars.$mobileTitleFontSize;
            margin-bottom: .5rem;
        }

        &__description {
            margin-bottom: .5rem;
        }

        &__location {
            margin-bottom: .3rem;
        }

        .vente-direct-highlight {
            background-color: vars.$primaryColor;
            padding: 1rem;
            color: vars.$whiteText;
            border-radius: 10px;
            font-weight: vars.$mediumWeight;
        }
    }
}

@media screen and (min-width: 800px) {
    .vente-direct-wrapper {
        flex-direction: row;
        justify-content: space-between;
        height: calc(100vh - 5rem);

        .vente-direct-map {
            width: fit-content;
            order: 2;
        }

        .vente-direct-content {
            width: 45%;
            order: 1;
            align-items: flex-start;

            &__description {
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .vente-direct-wrapper {
        justify-content: space-evenly;

        .vente-direct-content {
            &__title {
                margin-bottom: 2rem;
            }

            &__description {
                margin-bottom: 2rem;
                width: 80%;
            }
        }
    }
}